[Unit]
Description=Elasticsearch Data Volume %i

# Requirements
Requires=docker.service
After=docker.service
Before=elasticsearch@%i.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c "docker inspect %p-%i &>/dev/null || docker run --name %p-%i -v /var/lib/elasticsearch alpine:latest chmod -R 0777 /var/lib/elasticsearch"
