[Unit]
Description=Elasticsearch

# Requirements
Requires=docker.service
Requires=fleet.service
Requires=consul.service
Requires=elasticsearch-dv@%i.service
Wants=elasticsearch-discovery@%i.service

# Dependency ordering and binding
Before=elasticsearch-discovery@%i.service
After=docker.service
After=fleet.service
After=consul.service
After=elasticsearch-dv@%i.service
BindsTo=elasticsearch-dv@%i.service

[Service]
TimeoutStartSec=10m
Restart=on-failure
RestartSec=5s

# Set environmental variables
EnvironmentFile=/etc/environment
Environment="ES_CLUSTER=es01"

LimitNOFILE=65535
LimitMEMLOCK=infinity

ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i
ExecStartPre=/usr/bin/docker pull cgswong/elasticsearch

ExecStart=/bin/bash -c '\
  curl -fsL ${COREOS_PRIVATE_IPV4}:8500/v1/kv/services/logging/es/${ES_CLUSTER}/host?keys > /dev/null ;\
  if [ $? -eq 0 ]; then \
      UNICAST_HOSTS=$(for key in $(curl -Ls ${COREOS_PRIVATE_IPV4}:8500/v1/kv/services/logging/es/${ES_CLUSTER}/host?keys | sed -e "s|services\/logging\/es\/${ES_CLUSTER}\/host\/||g" -e "s|\"||g" -e "s|\[||g" -e "s|\]||g" -e "s|,|\n|g"); do \
        ip=$key ;\
        port=$(curl -Ls ${COREOS_PRIVATE_IPV4}:8500/v1/kv/services/logging/es/${ES_CLUSTER}/host/$key?raw | awk -v RS=\',\' -F: \'/cluster_port/ {print $2}\' | sed -e "s|}||g") ;\
        echo "$ip:$port" ;\
      done \
      | paste -s -d",") ;\
  else \
      UNICAST_HOSTS="" ;\
  fi ;\
  /usr/bin/docker run \
    --name %p-%i \
    -P \
    --volumes-from elasticsearch-dv-%i \
    --env ES_CLUSTER=${ES_CLUSTER} \
    cgswong/elasticsearch \
    --node.name=%H \
    --network.publish_host=${COREOS_PRIVATE_IPV4} \
    --discovery.zen.ping.multicast.enabled=false \
    --discovery.zen.ping.unicast.hosts=$UNICAST_HOSTS'

ExecStartPost=/usr/bin/curl -L http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/services/logging/es/${ES_CLSUTER}/host/${COREOS_PRIVATE_IPV4} -XPUT -d \'{"host":"%H","http_port":$(docker port %p | grep 9200 | cut -d: -f2),"cluster_port":$(docker port %p | grep 9300 | cut -d: -f2)}\'

ExecStop=-/usr/bin/docker stop %p-%i
ExecStop=-/usr/bin/docker kill %p-%i
ExecStop=-/usr/bin/docker rm %p-%i

ExecStopPost=/usr/bin/bash -c '\
  if [ $(curl -Ls ${COREOS_PRIVATE_IPV4}:8500/v1/kv/services/logging/es/${ES_CLUSTER}/host?keys | sed -e "s|services\/logging\/es\/${ES_CLUSTER}\/host\/||g" -e "s|\"||g" -e "s|\[||g" -e "s|\]||g" -e "s|,|\n|g" | wc -l) -lt 1 ]; then \
    curl -L http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/services/logging/es/${ES_CLUSTER}/host?recurse -XDELETE ; \
  else \
    curl -L http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/services/logging/es/${ES_CLUSTER}/host/${COREOS_PRIVATE_IPV4} -XDELETE ; \
  fi'

[Install]
WantedBy=multi-user.target

[X-Fleet]
Conflicts=%p.service
MachineOf=elasticsearch-dv@%i.service