[Unit]
Description=Elasticsearch Discovery Service

# Requirements
Requires=docker.service
Requires=consul.service
Requires=fleet.service

# Dependency ordering and binding
Before=elasticsearch@%i.service
After=docker.service
After=consul.service
After=fleet.service
BindsTo=elasticsearch@%i.service


[Service]
TimeoutStartSec=10m
Restart=on-failure
RestartSec=5s

# Set environmental variables
EnvironmentFile=/etc/environment

ExecStart=/bin/bash -c '\
  while true; do \
    curl -Ls ${COREOS_PRIVATE_IPV4}:9200
    [ $? -eq 0 ] && curl -L http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/services/logging/es/${    ES_CLUSTER}/${COREOS_PRIVATE_IPV4} -XPUT -d \'{"host":"%H","http_port":9200,"cluster_po    rt":9300}\' --ttl 60 ;\
    sleep 45 ;\
  done'

ExecStop=/usr/bin/curl -L http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/services/logging/es/${ES_CLUSTER}/${COREOS_PRIVATE_IPV4} -XDELETE
