[Unit]
Description=Elasticsearch

# Requirements
Requires=docker.service
Requires=fleet.service

# Dependency ordering and binding
After=docker.service
After=fleet.service

[Service]
TimeoutStartSec=0

# Set environmental variables
EnvironmentFile=/etc/environment
Environment="ES_CLUSTER=es01"

LimitNOFILE=65535
LimitMEMLOCK=infinity

ExecStartPre=/usr/bin/mkdir -p /es/data
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStartPre=/usr/bin/docker pull cgswong/elasticsearch:v1.4.4

ExecStart=/usr/bin/docker run --rm --name %p -p 9200:9200 -v /es/data:/esvol/data -e ES_CLUSTER=${ES_CLUSTER} cgswong/elasticsearch:v1.4.4

ExecStartPost=/usr/bin/curl -L http://${COREOS_PRIVATE_IPV4}:4001/v2/keys/services/logging/es/host/${COREOS_PRIVATE_IPV4} -XPUT -d value='{"host":"%H","http_port":9200,"cluster_port":9300},"cluster_name":"$ES_CLUSTER"}'
ExecStartPost=/usr/bin/curl -L http://${COREOS_PRIVATE_IPV4}:4001/v2/keys/services/logging/es/cluster -XPUT -d value="${ES_CLUSTER}"

ExecStop=-/usr/bin/docker stop %p
ExecStop=-/usr/bin/docker kill %p
ExecStop=-/usr/bin/docker rm %p

ExecStopPost=/usr/bin/curl -L http://${COREOS_PRIVATE_IPV4}:4001/v2/keys/services/logging/es/cluster/${ES_CLUSTER} -XDELETE
ExecStopPost=/usr/bin/curl -L http://${COREOS_PRIVATE_IPV4}:4001/v2/keys/services/logging/es/host/${COREOS_PRIVATE_IPV4} -XDELETE

[X-Fleet]
Conflicts=%p.service
